<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Slides>
            <version>1.3.1</version>
        </LCB_Slides>
    </modules>
    <frontend>
        <routers>
            <slides>
                <use>standard</use>
                <args>
                    <module>LCB_Slides</module>
                    <frontName>slides</frontName>
                </args>
            </slides>
        </routers>
        <layout>
            <updates>
                <slides>
                    <file>lcb_slides.xml</file>
                </slides>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <slides>
                <class>LCB_Slides_Helper</class>
            </slides>
        </helpers>
        <blocks>
            <slides>
                <class>LCB_Slides_Block</class>
            </slides>
        </blocks>
        <models>
            <slides>
                <class>LCB_Slides_Model</class>
                <resourceModel>slides_mysql4</resourceModel>
            </slides>
            <slides_mysql4>
                <class>LCB_Slides_Model_Mysql4</class>
                <entities>		  
                    <slides>
                        <table>lcb_slides</table>
                    </slides>
                    <category>
                        <table>lcb_slides_category</table>
                    </category>
                    <areas>
                        <table>lcb_areas</table>
                    </areas>
                </entities>
            </slides_mysql4>
        </models>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <lcb_slides_category_tabs_observer>
                        <class>slides/observer</class>
                        <method>addCategoryTab</method>
                    </lcb_slides_category_tabs_observer>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <resources>
            <lcb_slides_setup>
                <setup>
                    <module>LCB_Slides</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_slides_setup>
            <lcb_slides_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_slides_write>
            <lcb_slides_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_slides_read>
        </resources>
    </global>
    <admin>
        <routers>
            <slides>
                <use>admin</use>
                <args>
                    <module>LCB_Slides</module>
                    <frontName>admin_slides</frontName>
                </args>
            </slides>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <slides module="slides">
                        <title>Slides</title>
                        <sort_order>100</sort_order>
                        <children>
                            <slides module="slides">
                                <title>Manage Slides</title>
                                <sort_order>0</sort_order>
                                <action>admin_slides/adminhtml_slides</action>
                            </slides>
                            <areas module="slides">
                                <title>Manage Areas</title>
                                <sort_order>10</sort_order>
                                <action>admin_slides/adminhtml_areas</action>
                            </areas>
                        </children>
                    </slides>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <slides translate="title" module="slides">
                            <title>Slides</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <slides translate="title">
                                    <title>Manage Slides</title>
                                    <sort_order>0</sort_order>
                                </slides>
                                <areas translate="title">
                                    <title>Manage Areas</title>
                                    <sort_order>10</sort_order>
                                </areas>
                            </children>
                        </slides>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slides>
                    <file>lcb_slides.xml</file>
                </slides>
            </updates>
        </layout>
        <translate>
            <modules>
                <slides>
                    <files>
                        <default>LCB_Slides.csv</default>
                    </files>
                </slides>
            </modules>
        </translate>
    </adminhtml>
</config>